.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  grid-template-areas:
    "header header header header header"
    "content content content content filters"
    "content content content content filters"
    "content content content content filters"
    "content content content content filters";
}

.header {
  grid-area: header;
}

.search {
  grid-area: search;
}

.filters {
  grid-area: filters;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  position: sticky;
  top: 20px;
}

.filters label {
  color: black;
}

.content {
  grid-area: content;
}

.cardFormDin{
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.contenedorCard{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}


.fila {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  margin: 10px 0; 
}

.titulo {
  padding: 5px;
}

.input {
  padding: 5px; 
}
