* {
    margin: 0;
    padding: 0;
  
  }
  
  .containerAdquirirNuevoRolEPC {
    height: 100%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
  
  }
  /*
  .imgback {
    background-image: url("./../QuickFoodLogo.png");
  }*/
  
  .formularioAdquirirNuevoRolEPC {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 22px;
    border-radius: 10px;
  }