.filtrosGeneral{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

input[type="checkbox"] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: $color-amarillo-QF;
  }

  label {
    margin-left: 8px;
    cursor: pointer;
  }


.filtrosLetra{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $color-amarillo-QF !important;
    grid-area: titulo;
    font-style: italic;
    align-self: end;
}

.hrFiltros{
    color:$color-amarillo-QF;
}


.filtrosEventosConsumidor {
  display: inline-block;
  background-color: $color-gris-tarjetas;
  border: 1px solid $color-amarillo-QF ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 15%;
  padding: 10px;
  position: absolute;
  height: auto;
  bottom: 1%;
  right: 10px;
}

.filtrosEventoEncargado{
  display: inline-block;
  background-color: $color-gris-tarjetas;
  border: 1px solid $color-amarillo-QF ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 15%;
  padding: 10px;
  position: absolute;
  height: auto;
  bottom: 12%;
  right: 10px;

}


.filtrosCarritoEncargado {
  display: inline-block;
  background-color: $color-gris-tarjetas;
  border: 1px solid $color-amarillo-QF ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 14%;
  padding: 10px;
  position: absolute;
  height: auto;
  top: 16%;
  right: 10px;
}


.filtrosBuscador{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 15%;
  padding: 5px;
  position: absolute;
  height: auto;
  top: 15%;
  right: 10px;
}

.buscador{
  background-color: $color-gris-tarjetas;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:$color-amarillo-QF;
  position: fixed;
  top:15%;
  right:10px;
  width:15%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid $color-amarillo-QF;
}




.buscarButton{
  position: fixed;
  top:22%;
  width: 15%;
  right:0;


}