@import './variables.scss';



/* variables.scss */
$color-amarillo-QF: #F7B813; /* Definición del color amarillo */

/* Estilos para el contenedor principal */
.d-flex.mainFormEventos {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Estilos para la tarjeta del formulario */
.card-info {
  width: 80%;
  margin: auto;

}

/* Estilos para el formulario */
.formulario-info {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto !important;
  border: 2px solid grey !important;

}

/* Estilos para los campos de entrada */
.form-control {
  background-color: $color-amarillo-QF !important ;
  border: 2px solid lightgrey !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
  padding: 8px 12px;
  margin-bottom: 10px;
  width: calc(100% - 24px);
  color: $color-amarillo-QF; /* Color del texto */
}


/* Estilos para los botones de descarga */
.btn-secondary {
  background-color: $color-amarillo-QF;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: darken($color-amarillo-QF, 10%);
}

.text-file{
    color: grey !important;
    font-size: 12px;
    margin-top: 10px;
    font-style: italic;
}