//colores
$color-amarillo-QF: #F7B813; //in gradient (247,184,19)


$color-gris-1-degrades-sidebar:#172b34;
$color-gris-2-degrades-sidebar:#12242b;
$color-gris-3-degrades-sidebar:#0f1b20;
$color-prueba-sidebar: #F7B813;
$letra-sidebar: white;
$gris-letra-sidebar:#888B9A;
$letra-sidebar: black;
$color-gris-tarjetas:#303b55;
$color-azul-fondo: #1C2135; //(28,33,53)
$color-blanco-fondo: #F7B813;

//fondo imagen 1
//#191920 color tarjetas
//#121318 color fondo
//imagen 4
//1C2135
//dimensiones
$ancho-sidebar:250px;
$ancho-sidebar-reducido:80px;
