//colores
$color-amarillo-QF: #F7B813;
$color-amarillo-QF-hover: #F7B813;

$color-gris-1-degrades-sidebar:#172b34;
$color-gris-2-degrades-sidebar:#12242b;
$color-gris-3-degrades-sidebar:#0f1b20;
$letra-sidebar: #000;
$gris-letra-sidebar:#888B9A;
$color-gris-tarjetas:#222A3F;
$color-azul-fondo: #1C2135;
$color-blanco-fondo: #F7B813;

//fondo imagen 1
//#191920 color tarjetas
//#121318 color fondo
//imagen 4
//1C2135
//dimensiones
$ancho-sidebar:250px;
$ancho-sidebar-reducido:80px;
