//colores
$color-amarillo-QF: #F7B813; //in gradient (247,184,19)
$color-amarillo-QF-hover: rgb(247, 228, 19);

$color-gris-1-degrades-sidebar:#172b34;
$color-gris-2-degrades-sidebar:#12242b;
$color-gris-3-degrades-sidebar:#0f1b20;
$color-prueba-sidebar: #F7B813;
$letra-sidebar: white;
$gris-letra-sidebar:#888B9A;
$letra-sidebar: black;
$color-gris-tarjetas:rgb(15, 13, 13);
$color-azul-fondo: #1C2135; //(28,33,53)
$color-blanco-fondo: #F7B813;
$color-verde-success: #13f72ed2;
//fondo imagen 1
//#191920 color tarjetas
//#121318 color fondo
//imagen 4
//1C2135
//dimensiones
$ancho-sidebar:250px;
$ancho-sidebar-reducido:80px;

$morado-dashboard:#5E35B1;
$morado-dashboard-2:#7f53d8;
$azul-dashboard:#1E88E5;
$azul-dashboard-2:#62a4df;
$azul-dashboard-3:#1a73c1;
$rosa-dashboard:#C15A91;
$rosa-dashboard-2:#ec93c2;

//colores base toastify
$error-50: #fef3f2;
$error-100: #ffe3e1;
$error-200: #ffcdc9;
$error-300: #fea9a3;
$error-400: #fb786e;
$error-500: #f24d41;
$error-600: #e23f33;
$error-700: #bc2419;
$error-800: #9c2118;
$error-900: #81221b;
$error-950: #460d09;

$warning-50: #fefce8;
$warning-100: #fdf9c4;
$warning-200: #fcf08c;
$warning-300: #f9e04b;
$warning-400: #f5cd1a;
$warning-500: #e5b50d;
$warning-600: #c68c08;
$warning-700: #9e640a;
$warning-800: #834f10;
$warning-900: #6f4114;
$warning-950: #412107;

$success-50: #e8ffe5;
$success-100: #cbffc8;
$success-200: #9aff97;
$success-300: #5cfc5a;
$success-400: #29f229;
$success-500: #0ad80d;
$success-600: #03b309;
$success-700: #08830e;
$success-800: #0d6712;
$success-900: #105716;
$success-950: #023107;

$info-50: #f2f8fd;
$info-100: #e4eefa;
$info-200: #c3ddf4;
$info-300: #8ec2eb;
$info-400: #51a3df;
$info-500: #2b87cc;
$info-600: #1c6bad;
$info-700: #18568c;
$info-800: #184974;
$info-900: #193f61;
$info-950: #112840;
