.background {
  background-image: url(./../Inicio-12.png);
  min-height: 100vh;
}

.cardA {
  width: 100px;
  height: 150px;
}

.cardA a {
  text-decoration: none;
  /* Elimina el subrayado de los enlaces dentro de las tarjetas */
}

.cardAImg {
  max-width: 100px;
  /* Ajusta el tamaño máximo del icono al contenedor de la tarjeta */
}

.cardtitle {
  text-decoration: none;
  color: black;
  /* Establece el color del texto en negro */
}

.cardtitle:hover {
  color: black;
  /* Esto asegura que el color se mantenga en negro incluso al pasar el cursor */
}