* {
  margin: 0;
  padding: 0;

}

.navitem {
  display: flex;
  align-items: center;
  border-radius: 15px 10px 10px 15px;
  padding-right: 5px;
  background-color: #D9D9D9;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.navitem:hover {
  background-color: white;
  color: #333
}

.icono {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F7B813;
  left: 15px;
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #333;

}

.navlink i {
  font-size: 20px;
  color: #333;
}

.navitem i {
  font-size: 20px;
  color: #333;
}

.navlink span {
  font-size: 20px;
  color: #333;
}

.nav {
  height: 100%;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.sidebar {
  color: red;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  background: #0F2027;
  background: -webkit-linear-gradient(to top, #172b34, #12242b, #0f1b20);
  background: linear-gradient(to top, #172b34, #12242b, #0f1b20);
  /*background: linear-gradient(to top, #2C5364, #203A43, #0F2027); */
}

.logocontainer {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.especial {
  order: 999;
  position: absolute;
  bottom: 3%;
  margin-right: 16px;
  margin-left: 16px;
  left: 0;
  right: 0;
}

.iconoespecial {
  left: 0px;
}