* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;

}

/*.formulario {
  background-image: linear-gradient(to right,rgba(255, 0, 0, 0.313) , rgb(214, 24, 24));
}*/

.card {
  width: 100%;
  margin-left:auto;
}

.deshabilitar{
  margin-top:10px;
  margin-bottom: 10px;
}