/*
* {
    margin: 0;
    padding: 0;

  }
  


  .containerAdquirirNuevoRolPE {
    height: 100%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;

  }



  .formularioAdquirirNuevoRolPE {
    background-image: linear-gradient(to right,rgba(255, 0, 0, 0.313) , rgb(214, 24, 24));
    margin-bottom: 22px;

  }


  