/* Sidebar.css */
*{
  margin:0;
  padding: 0;

}


.sidebar {

  color: red;
  font-family: Arial, sans-serif;
  width: 150px;
  height: 100vh;
  border-right: 1px solid lightgray;
}

.sidebar .nav-link {
  padding:10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link {
  width: 100%;
  margin-left: 0;
}

.sidebar .nav-link:hover {
  background-image: linear-gradient(to left, #bbb5b5, #03030387);
}

.sidebar .dropdown-menu {
  background-color: lightgray;
  border: none;
}

.sidebar .dropdown-item {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: auto;
}

.sidebar .dropdown-item:hover {
  background-image: linear-gradient(to right, #e7dfdf, #3a3535);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
}

.logo:hover {
  border-radius: 10%;
  border: 1px solid red;


}

.sidebar h1 {
  color: white;
}

.sidebar p {
  color: white;
}

