/* Estilo para la tarjeta de producto */
/*.card {
    border: none;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-top:-500px;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 20px; /* Elimina esta línea o establece margin-top: 0; si es necesario *//*
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.options a {
    text-decoration: none;
    color: inherit;
}

.options a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Estilo para el botón "Agregar al Pedido" *//*
.btn-pedido {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F7B813;
    color: #000;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.btn-pedido:hover {
    background-color: #13aa2f;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.imagen-contenedor img {
    width: 100%;
    text-align: center;
    height: 150px;
    object-fit: cover;
    max-width: 100%;
    max-height: 20%;
}
*/